Source: tcpquota
Section: admin
Priority: extra
Maintainer: Turbo Fredriksson <turbo@debian.org>
Standards-Version: 3.5.2
Build-Depends-Indep: libdbd-mysql-perl, perl-5.005

Package: tcpquota
Architecture: all
Depends: perl5, libdbi-perl, libnet-perl, libdbd-mysql-perl | libdbd-msql-perl
Description: A dialout/masquerading monitoring package.
 TCPQuota  monitors and debit users depending on there
 online time  (dialout). The program is made for those
 who  have a  local network  with  a server  that also
 functions as a Internet gateway (among other things).
 .
 The  server  runs diald,  for example, which does the
 actual  dial-on-demand,  and this package which debit
 each  user,   whether  from  the   server  or  from  a
 masqueraded host  (program includes masquerade code).
 .
 All a user from  inside the  gateway/firewall have to
 do  is run  the command 'openhost',  and the hostname
 and username  is masqueraded  and debited according to
 the time they spend calling out.
